config.el
ido.last
network-security.data
tramp
ac-comphist.dat
ede-projects.el

elpa
auto-save-list
config.org_archive
elpa
irony
smex-items
snippets
url
bookmarks
projectile-bookmarks.eld

